/**
  主题变量样式修改
**/
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
}
// li {
//   list-style: none;
// }

:root {
  /* 激活主题颜色修改 */
  --vp-c-brand-1: #00C68F !important;
  --vp-c-brand: var(--vp-c-brand-1) !important;


  /* 按钮颜色 */
  --vp-button-brand-bg: var(--vp-c-brand);
  /* 首页标题和图片渐变颜色 */
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, var(--vp-c-brand) 45%, var(--vp-c-brand-next) );
  --vp-home-hero-image-background-image: linear-gradient( -45deg, var(--vp-c-brand) 45%, var(--vp-c-brand-next) );
  --vp-home-hero-image-filter: blur(180px);
}

.VPNavBarMenuLink.active {
  color: var(--vp-c-brand) !important;
}
.VPDocAsideOutline .root{
  >li>a.outline-link{
    color: #673ab7;/* 设置你想要的颜色 */
  }
  .VPDocOutlineItem .outline-link {
    color: #2196f3;/* 设置你想要的颜色 */
  }
}
/* 左侧目录激活的文本颜色修改 #00bcd4 */
.outline-link.active {
  --vp-c-text-1: var(--vp-c-brand-1);
}


/**
  顶部导航模块的样式修改
**/
.VPNav {
  .VPNavBar {
    background-color: #fff;
    border-bottom: 1px solid rgba(60, 60, 67, 0.13);
  }
  .VPNavBar.has-sidebar {
    .curtain {
      bottom: -30px !important;
      /* 导航的底部边框不显示问题修改 */
      &::before {
        margin-top: 2px !important;
      }
    }
  }
  .logo {
    height: 100%;
  }
}

/**
  首页样式修改
**/
.VPHome {
  .box {
    .title {
      font-size: 20px;
      color: var(--vp-c-brand);
    }
  }
}

/**
  内容模块样式修改
**/

.VPContent {
  .VPDoc {
    padding-left: 0 !important;
  }
  /* 内容左边距调整 */
  .content-container {
    margin-left: 20px !important;
  }
  .VPHome { 
    /* 标题样式修改 */
    .name {
      font-size: 40px;
    }
    /* 副标题样式修改 */
    .text {
      font-size: 38px;
      line-height: 56px;
    }
    .tagline {
      font-size: 20px;
      line-height: 30px;
    }
    .image-container{
      .VPImage {
        width: 100%;
        height: 100%;
      }
    }
  }
}

/**
  暗黑模式下的样式修改
**/
.dark {
  .VPNav .VPNavBar {
    background-color: #1e1e20;
    border-bottom: 1px solid #000;
  }
}
/* 确保 SVG 图标可以正确缩放 */
.svg-icon {
  shape-rendering: geometricPrecision;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/* 移除可能的冲突样式 */
svg:not(:root) {
  overflow: visible;
}

// @media (min-width: 1440px) {
//   .VPSidebar{
//       padding-left: 190px!important;
//       width: 514px!important;
//   }
//   .group {
//     padding-top: 10px;
//     width: 316px!important;
//   }
//   .aside{
//     display: none!important;
//   }
// }